body { padding-top: 40px; }

.categories { background-color: #F4F4F4; }
.categories-list { margin-bottom: 0; padding-top: 5px; padding-bottom: 5px; }

.navigation { padding: 20px 0; border-bottom: 1px solid #CCCCCC; }

.equalizer-controls { width: 260px; }
.equalizer-controls-slider { padding: 0 10px 0 10px; }
.equalizer-controls-apply { padding: 0 15px 15px 0; }
.sldr { width: 100px; }
.sldr-label { padding-right: 15px; width: 60px; max-widht: 60px; }
